
* {
    font-family: 'Roboto', sans-serif;
}



.formpadre{
	 display: flex;
	 flex-wrap: wrap;
     width: 80%;    
     margin: auto;
     margin-top: 150px;
     border: 2px solid #2d83d5;
     
    
}






.form {
	
    padding: 20px;
    margin: 5px;
    float: left;
    flex: 1;
    
    } 




.form1 {

    float: left;
    margin: 0px;
    padding: 15px;
    background-color:#c0d9f2;
   text-align: center;
   flex: 1;
 
} 



.slider{
	margin:auto;
	margin-top:30px;
	max-width:980px;
	
	
}



.imagen{
	
	width:100;
	
	
}

button {
	height: 32px;
	padding-right: 20px;
	padding-left: 20px;
	border: none;
	border-radius: 9px 9px 9px 9px;
	border:2px solid #cecccc;
}



.boton{

	background-color: #2d83d5;
	color:white;
	margin-left:40%;
	margin-top:15px;
	margin-bottom:15px;
	
	

}

.botonb{
	background-color: #2d83d5;
	color:white;

	
}

.botonw{
	background-color: #ffffff;
	

	
}

.headpadre{
     width: 100%;    
     margin: auto;
	

}

.headhijoi{
	width:48%;
	min-width:500px; 
	
		display: inline-block;
		vertical-align: top;
}

.headhijod{
	width:48%;
	
		display: inline-block;
} 
.headhijod img {
	
	float:right;
} 

.recoverpadre{
	display: flex;
     width: 100%;    
     margin: auto;
	flex-wrap: wrap;
}

.h1{
	text-align: center;
	margin:auto;
	flex:1 1 100%
	
}

.datapadre{
	display: flex;
     width: 100%;    
     margin: auto;
     background-color:#c0d9f2;
	flex-wrap: wrap;
}

.recover{
	margin:auto;
	background-color:#c0d9f2;
	padding: 15px;
	margin-top:40px;
		
	 
}

.recoverlist{
	margin:left;
	background-color:#c0d9f2;
	padding: 15px;
	margin-top:40px;
		
	 
}

input {
  padding: .4em;
}


select{
	padding: .35em;
	
	
}

label {
  display: block;
  margin: .5em 0 .2em 0;
}
#divTexto1{
	color:white;
	width: 5em;
	height: 5em;
	display: block;
	float:right;
	background-color:#c0d9f2;
}

date-field {

	display: inline-block;
}

.fechas{
	width: 4em;
	-webkit-appearance;
}

.posicion {
	border: 1px solid;
	
}

.offers{
	border: 1px solid;
}

.posicion li{
	display: inline-block;
	
}
