
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}



.formpadre{
	 display: flex;
    width: :100%;
   
    
}


.form {
    margin: 5px;
    padding: 15px
    height: 300px;
    flex-grow: 1;
    
    } 


.form1 {
    float: left;
    min-width:300px;
    margin: 5px;
    padding: 15px;
    height: 300px;
    background-color:#c0d9f2;
   text-align: center;
   flex-grow: 1;
 
} 

