
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.form {
    float: left;
    margin: 5px;
    padding: 15px;
    max-width: 300px;
    height: 300px;
    
    } 


.form1 {
    float: left;
    margin: 5px;
    padding: 15px;
    max-width: 3000px;
    height: 300px;
    background-color:#c0d9f2;
    
 
} 

